body {
  background-image: url("b1.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.nav-link:hover {
  background-color: rgb(112, 107, 107);
}

.navbar-brand:hover {
  background-color: rgb(112, 107, 107);
}

img {
  padding: 10px;
}

.col-sm-4 {
  margin-top: 70px;
  padding-top: 20px;
}

.col-sm-8 {
  margin-top: 70px;
  padding-top: 20px;
}

.container {
  border: solid black 2px;
  text-align: center;
  color: rgb(253, 250, 250);
  font-size: 35px;
  margin-top: 20px;
  background-color: rgba(20, 16, 16, 0.363);
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: relative;
  min-height: 500px;
}

.container:hover {
  background-color: rgb(221, 125, 15);
}

/* Footer */
.footer {
  text-align: center;
  color: rgb(5, 5, 5);
  background: rgb(39, 38, 38);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.fab {
  color: white;
}

/* Extra small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
  img {
    margin-top: -20px;
    height: 200px;
    width: 200px;
  }

  .col-sm-8 {
    margin-top: 10px;
    padding-bottom: 15px;
    float: right;
    font-size: 16px;
  }

  #logo {
    text-align: center;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  img {
    height: 200px;
    width: 200px;
  }
  .col-sm-8 {
    padding: 50px;
    margin-top: -30px;
  }
  #logo {
    padding: 20px;
    font-size: 15px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  img {
    height: 250px;
    width: 250px;
  }
  .col-sm-8 {
    padding: 50px;
  }
  #logo {
    padding: 20px;
    font-size: 18px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}
