body {
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.nav-link:hover {
  background-color: rgb(112, 107, 107);
}

.navbar-brand:hover {
  background-color: rgb(112, 107, 107);
}

/*.jumbotron {
  background-color: rgb(73, 225, 245);
}*/

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
      no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

#container {
  border: 1px black solid;
  background-color: rgb(61, 37, 48);
}

.row {
  padding: 20px;
}

.col-4 {
  padding: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
/* Footer */
.footer {
  text-align: center;
  color: rgb(5, 5, 5);
  background: rgb(39, 38, 38);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.fab {
  color: white;
}
