body {
  background-color: #c651ca;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.nav-link:hover {
  background-color: rgb(112, 107, 107);
}

.navbar-brand:hover {
  background-color: rgb(112, 107, 107);
}

.container {
  color: #c651ca;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #95dbf0;
  padding: 20px;
}

#fas2 {
  color: rgb(68, 67, 67);
}

input[type="text"],
select,
#email,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid rgb(19, 9, 9);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #313131;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #829ca8;
}

/* Footer */
.footer {
  text-align: center;
  color: rgb(5, 5, 5);
  background: rgb(39, 38, 38);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.fab {
  color: white;
}
