body {
  /*background-image: url("b1.jpg");*/
  background-color: #110f0f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.nav-link:hover {
  background-color: rgb(112, 107, 107);
}

.navbar-brand:hover {
  background-color: rgb(112, 107, 107);
}

.jumbotron {
  background-image: url("jum.jpg");
  background-position: center;
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  height: 300px;
  width: 300px;
  padding: 5px;
  transition: 1s;
}

.img:hover {
  transform: scale(1.2);
}

/* Footer */
.footer {
  text-align: center;
  color: rgb(5, 5, 5);
  background: rgb(39, 38, 38);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.fab {
  color: white;
}
