/*.navbar-brand,
.nav-link {
  color: white;
}*/

body {
  background-image: url("img/bckg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html {
  height: 100%;
}
